.lawyer-card_content {
  overflow: hidden;
}

.likewood-img-lawyer-card_container {
  overflow: hidden;
  max-width: 300px;
  max-height: 250px;
}
.img-lawyer-card_container img
{
  width: 100%;
}

  
  .concord_employee[data-id="0"] .img-lawyer-card_container img {
    
  }
  
  .concord_employee[data-id="1"] .img-lawyer-card_container img {
  
  }
  
  .concord_employee[data-id="2"] .img-lawyer-card_container img {
    
  }
  
  .concord_employee[data-id="3"] .img-lawyer-card_container img {
    
  }
  
  .concord_employee[data-id="4"] .img-lawyer-card_container img {
    
  }
  
  .concord_employee[data-id="5"] .img-lawyer-card_container img {
   
  }
  
  .concord_employee[data-id="6"] .img-lawyer-card_container img {
   
  }
  
  .concord_employee[data-id="7"] .img-lawyer-card_container img {
    
  }
  
  .concord_employee[data-id="8"] .img-lawyer-card_container img {
    
  }
  
  .concord_employee[data-id="9"] .img-lawyer-card_container img {
    
  }
  
  

  
  @media screen and (max-width: 576px) {

    
    .img-lawyer-card_container {
        max-height: 240px;
    }
    .lawyer-card_container {
        height: 400px;  
    }
  
  
  
    .concord_employee[data-id="0"] .img-lawyer-card_container img {
     
    }
  
    .concord_employee[data-id="1"] .img-lawyer-card_container img {
     
    }
  
    .concord_employee[data-id="2"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="3"] .img-lawyer-card_container img {
     
    }
  
    .concord_employee[data-id="4"] .img-lawyer-card_container img {
    
    }
  
    .concord_employee[data-id="5"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="6"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="7"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="8"] .img-lawyer-card_container img {
     
    }
  
    .concord_employee[data-id="9"] .img-lawyer-card_container img {
     
    }
  
  }
  
  @media screen and (min-width: 1200px) {
    .img-lawyer-card_container {
      max-height: 300px;
      max-width: 300px;
    }
    
  
    .concord_employee[data-id="0"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="1"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="2"] .img-lawyer-card_container img {
        transform: scale(1.4);
        margin-left: -1px;
        margin-top: 90px;
    }
  
    .concord_employee[data-id="4"] .img-lawyer-card_container img {
     
    }
  
    .concord_employee[data-id="5"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="6"] .img-lawyer-card_container img {
      
    }
  
    .concord_employee[data-id="7"] .img-lawyer-card_container img {
    
    }
  
    .concord_employee[data-id="8"] .img-lawyer-card_container img {
    
    }
  
    .concord_employee[data-id="9"] .img-lawyer-card_container img {
      
    }
  
  }
  
  